@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: green;
}
.card {
  background: white;
  margin-top: 10px;
}
.num {
  font-size: 300px;
}
.icon {
  color: red;
  font-size: 150px;
  text-align: left;
  margin: 0;
  padding: 10px;
}
.iconbottom {
  color: red;
  font-size: 150px;
  text-align: left;
  margin: 0%;
  padding: 10px;
}
.iconrot {
  transform: rotate(180deg);
}
